:root {
    --text-color: #1E1E1F;
    --bg-color: #fafafa;
    --icon-color: #7c7c7c;
    --check-color: #01be01;
    --delete-color: #fe2e2e;
    --edit-color: #ffc107;
    --bg-item-color:#fafafa;
    --text-item-color:#1e1e1f;
}


/* //////////////////////////////////// */


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

p,
li,
figcaption {
    text-wrap: pretty;
    max-width: 65ch;
}

/* header,
footer,
main,
section,
article {
    container-type: inline-size;
} */

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    /* overflow: hidden; */
    background: var(--bg-color);
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* //////////////////////////////////// */

.app {
    display: grid;
    place-items: center;
}

.header__counter {
    font-size: 3rem;
    text-align: center;
    padding: 48px;
    font-weight: normal;
}

.header__counter span {
    font-size: 3rem;
    font-weight: bold;
}

.search__input {
    width: 279px;
    height: 64px;
    font-size: 2.4rem;
    text-align: center;
    border: 2px solid var(--text-color);
    border-radius: 2px;
    margin-bottom: 15px;
    box-shadow: 0px 5px 50px 0px #20232940;
}

.search__input::placeholder {
    color: #AAAAAA;
    opacity: 1;
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 243px;
    height: 44px;
    padding: 10px;
    line-height: 21.94px;
    font-size: 3rem;
    border-radius: 2px;

    color: var(--text-item-color);
    background: var(--bg-item-color);
    box-shadow: 0px 5px 50px 0px #20232926;
}

.todoItem__text {
    pointer-events: none;
}

.todo-list__item span {
    cursor: pointer;
    font-size: 35px;
    color: #7c7c7c;
}

.iconContainer {
    display: flex;
    gap: 5px;
}


.button__add {
    margin-top: 15px;
    width: 64px;
    height: 64px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 75px;
    background: #61DAFA;

    cursor: pointer;

    transform: rotate(0);
    transition: .3s ease;
}

/* //////////////////////////////////// */
.check__icon:hover {
    color: var(--check-color);
}

.delete__icon:hover {
    color: var(--delete-color);
}

.edit__icon:hover {
    color: var(--edit-color);
}

/* //////////////////////////////////// */
.check__icon--active {
    color: var(--check-color);
}

.delete__icon--active {
    color: var(--delete-color);
}

.button__add:hover {
    box-shadow: 0px 5px 25px 0px #61DAFA80;
    transform: rotate(224deg);
}

.todoItem__text--complete {
    text-decoration: line-through;
}

/* //////////////////////////////////// */

.darkMode__Icon {
    position: fixed;
    font-size: 40px;
    right: 15px;
    bottom: 15px;
    color: var(--text-color);
    cursor: pointer;

}

.dark-mode {
    --text-color: #fafafa;
    --bg-color: #1E1E1F;
    --icon-color: #7c7c7c;
    --bg-item-color:#fafafa;
  }